<%- contentFor('addcss') %>
<%- contentFor('title') %>
<div class="row">
	<div class="col-md-12 back-title text-center">
		
<h1>Schoollars</h1>
<div class="description text-center">
    <p>Ciptakan peluang bagi mereka yang mempunyai potensi.</p>
</div>

	</div>
</div>

<%- contentFor('content') %>
	<div class="content">
        <div class="container-fluid">
            <div class="row" style="padding-bottom: 50px;">
                
                <div class="col-lg-12 text-center">
                   <!--  <img style="width:80px;" src='/assets/img/logo_schlr.png'/> -->
                </div>
                    
            </div>
            <div class="row">
            	<div class="col-md-6 col-md-offset-3">
                <div class="col-lg-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">school</i>
                        </div>
                        <div class="card-content pd20">
                            <p class="category">Scholarship</p>
                            <h3 class="title counter" data-count="<%= scholarships %>">0
                                
                            </h3>
                        </div>
                        <!-- <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i>
                                <a href="#pablo">Check it out</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">assignment_ind</i>
                        </div>
                        <div class="card-content pd20">
                            <p class="category">Applier</p>
                            <h3 class="title counter" data-count="<%= applier %>">0</h3>
                        </div>
                       <!--  <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Tracked from Github
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

	<%- contentFor('addjs') %>
	<script>
    $(document).ready(function () {
        $('.counter').each(function() {
        var $this = $(this),
            countTo = $this.attr('data-count');
        
        $({ countNum: $this.text()}).animate({
            countNum: countTo
        },

        {

            duration: 1000,
            easing:'swing',
            step: function() {
            $this.text(Math.floor(this.countNum));
            },
            complete: function() {
            $this.text(this.countNum);
            //alert('finished');
            }

        }); 
    }); 
    });  
    </script>