<%- contentFor('title') %>
Provider

<%- contentFor('content') %>
    
    <div class="wrapper">
        <div class="header vertical-center" style="background-image: url('/assets/img/edu1.jpeg');">
            <h2 class="font-white">
                    "Education is the most powerful weapon which you can use to change the world" - Nelson Mandela
            </h2>
            <!-- <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="brand text-center">
                        <span class="description">Ciptakan generasi muda untuk mengubah dunia. Disinilah revolusi pendidikan akan dimulai. Beasiswa bagi orang - orang yang pantas menjadi generasi bangsa yang membangun bangsanya sendiri. Schoollars Partners berkerja untuk mempermudah jalan anda dan jalan generasi mendatang.</span>
                        <br>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                            
                            </div></div>
            </div> -->
        </div>
        <div class="container white-bg section-cus">
            <div class="col-md-10 col-md-offset-1">
                    
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <!-- <h3 class="info-title text-center"><span class="j-ul ">Produk kami membuat perkerjaan anda semakin mudah.</span></h3>   
                        <h5 class="description">Schoollars Partners di desain sesuai dengan kebutuhan anda. berbagai fitur yang kami tawarkan akan menjangkau kebutuhan anda. didukung dengan schoollars mobile appakan menjadi produk yang benar - benar revolusioner. Jangan khawatir kami akan terus mempelajari serta berinovasi mendukung kebutuhan anda selanjutnya.</h5> -->
                        <h5 class="description">Ciptakan generasi muda untuk mengubah dunia. Disinilah revolusi pendidikan akan dimulai. Beasiswa bagi orang - orang yang pantas menjadi generasi bangsa yang membangun bangsanya sendiri. Schoollars Partners berkerja untuk mempermudah jalan anda dan jalan generasi mendatang.</h5>
                    </div>
                </div>
                <div class="row margin-top20">
                        <div class="col-md-4 text-center">
                            <div >
                                <div class="circle-black-border icon">
                                    <i class="applier-content fz32 material-icons">mail</i>
                                </div>
                                <h4 class="info-title"><span class="arial">Kirim Beasiswa</span></h4>
                                
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div >
                                <div class="circle-black-border icon">
                                    <i class="applier-content fz32 material-icons">verified_user</i>
                                </div>
                                <h4 class="info-title"><span class="arial">Pilih Kandidat</span></h4>
                            
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div >
                                <div class="circle-black-border icon">
                                    <i class="applier-content fz32 material-icons">face</i>
                                </div>
                                <h4 class="info-title"><span class="arial">Bangun Citra</span></h4>
                               
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="vertical-center" style="background-image: url('/assets/img/edu2.jpeg');">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="info-title text-center"><span>Produk kami membuat perkerjaan anda semakin mudah.</span></h2>   
                    <h4 class="description">Schoollars Partners di desain sesuai dengan kebutuhan anda. berbagai fitur yang kami tawarkan akan menjangkau kebutuhan anda. didukung dengan schoollars mobile appakan menjadi produk yang benar - benar revolusioner. Jangan khawatir kami akan terus mempelajari serta berinovasi mendukung kebutuhan anda selanjutnya.</h4>
                </div>
            </div>
        </div>
        
        <div>
            <div class="white-bg col-md-6 split-bd-top">
                
                    <div class="col-md-10 col-md-offset-1">
                        <h3 class="info-title text-center">Kirim beasiswa ke jutaan siswa indonesia</h3>   
                        <p class="description">Dengan schoollars partners anda dapat membuat mengirimkan beasiswa yang langsung terhubung dengan ratusan bahkan jutaan calon siswa di Indonesia dari berbagai latar belakang berbeda. Dukungan fitur statistik yang tersedia, akan dapat memberikan nilai lebih untuk mempelajari keberagaman mereka.</p>
                    </div>
                
            </div>
            <div class="col-md-6 green-bg">
                    <div class="col-md-10 col-md-offset-1">
                        <h3 class="info-title text-center"><span>Pilih calon siswa secara cepat dan tepat sesuai kriteria anda</span></h3>   
                        <p class="description"><span>Pilih calon siswa secara cepat diri, anda dapat langsung menyeleksi dengan berbagai tools yang sudah kami desain. Anda dapat menyortir, memfilter jutaan siswa sesuai dengan kriteria yang anda inginkan dalam hitungan detik. Bahkan secara instan anda juga dapat memberikan informasi lebih lanjut langsung kepada mereka.</span></p>
                    </div>
                
            </div>
        </div>
        <div class="container section-cus white-bg">
            <div class="col-md-12">
                <div class="row margin-top20">
                    <div class="col-md-12">
                        <h3 class="info-title res-width" style="width: 50%;padding-left: 30px;"><span class="j-ul ">Mulai dan bagun citra anda kepada mereka.</span></h3>   
                        <blockquote>
                            <h5 class="text-left">Dorongan beasiswa yang anda tawarkan akan memberikan wajah baru kepada siswa di indonesia. memberikan energi positif dan mulai membangun generasi bangsa yang cerdas. dari sini lah anda dapat memulai dan membangun citra anda kepada indonesia.</h5>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-cus white-bg bd-top col-md-8 col-md-offset-2">
            <h2 class="text-center title"><span class="j-ul ">Work with us</span></h2>
                <h4 class="text-center">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
            <div class="col-md-8 col-md-offset-2" id="signup">
                
                <form class="contact-form" action="/partner/signup" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Email</label>
                                <input name="email" type="email" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Password</label>
                                <input id="password" name="password" type="password" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Re-type Password</label>
                                <input id="re-password" type="password" value="Re-type Password" class="form-control">
                                <span id="not-match" style="color:red;" class="material-icons form-control-feedback">clear</span>
                            <span class="material-input"></span></div>
                            
                        </div>

                    </div>
                    


                    <div class="row text-center">
                        <!-- <div class="text-center"> -->
                            <button class="btn btn-info pull-right">
                                Sign up
                            </button>
                        <!-- </div> -->
                    </div>
                </form>
           
        </div>
    </div>
        <!-- <div class="main main-raised">
            <div class="container">
                <div class="section text-center section-landing">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h5 class="description">Ciptakan generasi muda untuk mengubah dunia. Disinilah revolusi pendidikan akan dimulai. Beasiswa bagi orang - orang yang pantas menjadi generasi bangsa yang membangun bangsanya sendiri. Schoollars Partners berkerja untuk mempermudah jalan anda dan jalan generasi mendatang.</h5>
                        </div>
                    </div>

                    <div class="features roboto">
                        
                    </div>
                </div>

                <div class="section text-center">                    
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="title">Produk kami membuat perkerjaan anda semakin mudah. </h2>
                        <h5 class="roboto description">Schoollars Partners di desain sesuai dengan kebutuhan anda. berbagai fitur yang kami tawarkan akan menjangkau kebutuhan anda. didukung dengan schoollars mobile appakan menjadi produk yang benar - benar revolusioner. Jangan khawatir kami akan terus mempelajari serta berinovasi mendukung kebutuhan anda selanjutnya.</h5>
                    </div>                                       
                </div>


                
            </div>
        </div> -->

        <footer class="footer white-bg bd-top">
            <div class="container">
                <!-- <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/">
                                Schoollars
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                               About Us
                            </a>
                        </li>
                        <li>
                            <a href="/blog">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    © 2017, made with <i class="fa fa-heart heart"></i> by schoollars
                </div> -->
            </div>
        </footer>
    </div>
<%- contentFor('addjs') %>
<script>
$(document).ready(function () {
    var pass1 = $('#password').val();
    var pass2 = $('#re-password');
    $('#re-password').keyup(function(){
        if ($('#password').val() != $(this).val()){
            $('#not-match').css('opacity','10') ;
            $('#re-password').addClass('its-error');
        } else {
            $('#not-match').css('opacity','0') 
            $('#re-password').removeClass('its-error');
        }
    })

})
</script>
