<%- contentFor('title') %>
RoomMe Member Create

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form action="/administrator/member" method="POST">
			<div class="form-group">
				<label>First Name</label>
				<input type="text" name="fname" class="form-control">
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" name="lname" class="form-control">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="email" name="email" class="form-control">
			</div>
			<div class="form-group">
				<label>Phone</label>
				<input type="text" name="phone" class="form-control">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="text" name="password" class="form-control">
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input type="text" name="cpassword" class="form-control">
			</div>
			<div class="form-group">
				<label>Birth Date</label>
				<input type="text" name="birthdate" class="form-control">
			</div>
			<div class="form-group">
				<label>Address</label>
				<textarea class="form-control" name="address"></textarea>
			</div>
			<div class="form-group">
				<label>About</label>
				<textarea class="form-control" name="about"></textarea>
			</div>
			<button type="submit" class="btn btn-primary"> Save</button>
		</form>
	</div>
</div>