<%- contentFor('title') %>
Members

<%- contentFor('content') %>
<div class="row">
	<form class="form-inline" action="/administrator/member" method="GET">
		<div class="col-lg-11">
			<div class="row">
				<div class="col-lg-12">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search..." name="keyword" value="<%= keyword%>">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
						</span>
					</div>
					<div class="form-group">
						<select class="form-control" name="status">
							<option value="all" <%= status=='all'?'selected':'' %>>All</option>
							<option value="active" <%= status=='active'?'selected':'' %>>Active</option>
							<option value="suspended" <%= status=='suspended'?'selected':'' %>>Suspended</option>
						</select>
					</div>
					<button type="submit" class="btn btn-success">Filter</button>
				</div>
			</div>
		</div>
		<div class="col-lg-1">
			<div class="row">
				<div class="col-lg-12">
					<a href="/administrator/member/create" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>   Create</a>
				</div>
			</div>
		</div>
	</form>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="5%">#</th>
					<th>Email</th>
					<th>Name</th>
					<th>Member Since</th>
					<th>Status</th>
					<th width="15%"></th>
				</tr>
			</thead>
			<tbody>
				<% if (members.length>0) { %>
				<% members.forEach(function(data, index) { %>
				<tr>
					<td><%= ((currentpage-1)*20)+(index+1) %></td>
					<td><%= data.email %></td>
					<td><%= data.firstName %> <%= data.lastName %></td>
					<td><%= data.createdAt %></td>
					<td>
						<% if (data.suspended) { %>	
						<label class="label label-danger">Suspended</label>
						<% } else{ %>
						<label class="label label-primary">Active</label>
						<% } %>
					</td>
					<td>
						<a href="/administrator/member/<%= data.id%>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
						<a href="/administrator/member" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						<% if(data.suspended) { %>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#unsuspend<%=data.id%>">
							<i class="fa fa-unlock" aria-hidden="true"></i>
						</button>
						<% } else { %>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#suspend<%=data.id%>">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</button>
						<% } %>
					</td>
				</tr>
				<% }); %>
				<% }else {  %>
				<tr>
					<td colspan="5" class="text-center">No data</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% if (members.length>0) { %>
		<%- paginator(totalPage, currentpage, 'administrator/member', [{key: 'keyword', value: keyword}, {key:'status', value:status}]) %>	
		<% } %>
	</div>
</div>


<% if (members.length>0) { %>
<% members.forEach(function(data, index) { %>
<% if(data.suspended) { %>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="unsuspend<%=data.id%>">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h5>Are you sure want to unsuspend this user (<%= data.email %>)?</h5>
			</div>
			<div class="modal-footer">
				<a href="/administrator/member/<%= data.id %>/unsuspend" class="btn btn-primary">Unsuspend</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<% } else { %>
<div class="modal fade" id="suspend<%=data.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="/administrator/member/<%= data.id %>/suspend" method="POST">
				<div class="modal-header">
					<h4>Suspend user (<%= data.email %>)</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="exampleInputEmail1">Reason to suspend</label>
						<textarea class="form-control" rows="3" name="reason"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Suspend</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<% } %>
<% }) }%>
