<%- contentFor('title') %>
Member (<%= member.firstName %> <%= member.lastName %>)

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Bio</strong></h3>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Name</label>
						<span class="col-lg-9"><%= member.firstName %> <%= member.lastName %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Email</label>
						<span class="col-lg-9"><%= member.email %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Status</label>
						<span class="col-lg-9">
							<% if(member.suspended) { %>
							<label class="label label-danger">Suspended</label>
							<button type="button" class="btn btn-primary btn-sm btn-primary pull-right" data-toggle="modal" data-target="#unsuspend">
								Unsuspend
							</button>
							<% } else { %>
							<label class="label label-primary">Active</label>
							<button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#suspend">
								Suspend
							</button>
							<% } %>
						</span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Phone activated</label>
						<span class="col-lg-9">
							<% if(member.phoneActive) { %>
							<label class="label label-danger">Activated</label>
							<% } else { %>
							<label class="label label-primary">Deactivate</label>
							<button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#phoneactivate">
								Bypass
							</button>
							<% } %>
						</span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Verification Status</label>
						<span class="col-lg-9">
							<% if(member.verified > 1) { %>
							<label class="label label-primary">Verified account</label>
							<% } else { %>
							<label class="label label-danger">Not verified</label>
							<% } %>
						</span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Birth Date</label>
						<% if(member.birthDate != null){ %>
						<span class="col-lg-9"><%= member.birthDate.getDate() %> / <%= member.birthDate.getMonth() + 1 %> / <%= member.birthDate.getFullYear() %></span>
						<% } %>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Phone</label>
						<span class="col-lg-9"><%= member.phone %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Address</label>
						<span class="col-lg-9"><%= member.address %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">About</label>
						<span class="col-lg-9"><%= member.about %></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
					<li role="presentation"><a href="#trips" aria-controls="trips" role="tab" data-toggle="tab">Trips</a></li>
					<li role="presentation"><a href="#listings" aria-controls="listings" role="tab" data-toggle="tab">Listings</a></li>
					<li role="presentation"><a href="#verification" aria-controls="verification" role="tab" data-toggle="tab">Verification</a></li>
					<li role="presentation"><a href="#log" aria-controls="listings" role="tab" data-toggle="tab">Log</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="summary">

					</div>
					<div role="tabpanel" class="tab-pane" id="trips">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Book Code</th>
									<th>Listing</th>
									<th>Status</th>
									<th>Book Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% if (trips.length>0) { %>
								<% trips.forEach(function(data, index) { %>
								<tr>
									<td><%= index+1 %></td>
									<td><%= data.code %></td>
									<td>
										<a href="/administrator/listings/<%= data.listingId %>"><%= data.Listing.name %></a>
									</td>
									<td>status</td>
									<td><%= data.createdAt %></td>
									<td>
										<a href="/administrator/trips/<%= data.code %>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
									</td>
								</tr>
								<% }); } else { %>
								<tr>
									<td colspan="5">No data available</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="listings">
						<table class="table table-striped">
							<thead>
								<tr>
									<th width="5%">#</th>
									<th>Name</th>
									<th>Location</th>
									<th>Rating</th>
									<th>Create Date</th>
									<th width="10%"></th>
								</tr>
							</thead>
							<tbody>
								<% if (member.Listings.length>0) { %>
								<% member.Listings.forEach(function(data, index) { %>
								<tr>
									<td><%= index+1%></td>
									<td><%= data.name %></td>
									<td><%= data.city %>, <%= data.province %></td>
									<td>
										<% if (data.totalReview>0) { %>
										<span class="label label-primary"><%= data.totalRating %></span>
										<% }else{ %>
										<span class="label label-default">No review</span>
										<% } %>
									</td>
									<td><%= data.createdAt %></td>
									<td>
										<a href="/administrator/listings/<%= data.id%>" class="btn btn-primary" title="view"><i class="fa fa-eye" aria-hidden="true"></i></a>
										<a href="/administrator/listings/<%= data.id%>/block" class="btn btn-danger"><i class="fa fa-lock" aria-hidden="true"></i></a>
									</td>
								</tr>
								<% }); } else { %>
								<tr>
									<td colspan="6">No data available</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="helps">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Date</th>
									<th>Subject</th>
									<th></th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="verification">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Date</th>
									<th>Image</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% if (member.Verifications.length>0) { %>
								<% member.Verifications.forEach(function(data, index) { %>
								<tr>
									<td><%= index+1 %></td>
									<td>
										<%= data.createdAt %>
									</td>
									<td>
										<a><img src="<%= data.location %>" width="100px" height="100px"></a>
									</td>
									<td>
										<% if (data.status == 2) { %>
										<label class="label label-success">Accepted</label>
										<% } else if (data.status == 0) { %>
										<label class="label label-danger">Declined</label>
										<% } else { %>
										<label class="label label-default">Pending</label>
										<% } %>
									</td>
									<td>
										<% if (data.status == 1) { %>
										<a href="/administrator/member/<%= member.id %>/verification/<%= data.id %>/approve" class="btn btn-success" title="approve"><i class="fa fa-check" aria-hidden="true"></i></a>
										<a href="/administrator/member/<%= member.id %>/verification/<%= data.id %>/decline" class="btn btn-danger" title="decline"><i class="fa fa-times" aria-hidden="true"></i></a>
										<% } %>
									</td>
								</tr>
								<% }); } else { %>
								<tr>
									<td colspan="5">No data available</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="log">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Action</th>
									<th>Time</th>
								</tr>
							</thead>
							<tbody>
								<% if (member.MemberLogs.length>0) { %>
								<% member.MemberLogs.forEach(function(data, index) { %>
								<tr>
									<td><%= index+1 %></td>
									<td>
										<%= data.action %>
									</td>
									<td>
										<%= data.createdAt %>
									</td>
								</tr>
								<% }); } else { %>
								<tr>
									<td colspan="3">No data available</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="phoneactivate">
	<div class="modal-dialog modal-sm" role="document" style="width:40%;">
		<div class="modal-content" >
			<form action="/administrator/member/<%= member.id %>/phoneactivate" method="POST">
			<div class="modal-body">
				<h5>Are you sure want to bypass phone activation for this user (<%= member.email %>)?</h5>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Bypass</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</form>
		</div>
	</div>
</div>


<!-- <div class="modal fade" id="phonedeactivate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="/administrator/member/<%= member.id %>/phonedeacivate" method="POST">
				<div class="modal-header">
					<h4>Deactivate phone verification user (<%= member.email %>)</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="exampleInputEmail1">Reason to deactive</label>
						<textarea class="form-control" rows="3" name="reason"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Deactivate</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div> -->



<% if(member.suspended) { %>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="unsuspend">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h5>Are you sure want to unsuspend this user (<%= member.email %>)?</h5>
			</div>
			<div class="modal-footer">
				<a href="/administrator/member/<%= member.id %>/unsuspend" class="btn btn-primary">Unsuspend</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<% } else { %>
<div class="modal fade" id="suspend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="/administrator/member/<%= member.id %>/suspend" method="POST">
				<div class="modal-header">
					<h4>Suspend user (<%= member.email %>)</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="exampleInputEmail1">Reason to suspend</label>
						<textarea class="form-control" rows="3" name="reason"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Suspend</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
<% } %>




<%- contentFor('addjs') %>
<!-- Morris Charts JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$.ajax({
			url: location.origin+'/api/v1/report-cms/success-books/<%= member.id%>/user?interval=weekly',
			type: 'GET',
			success: function(data) {
				console.log(data)
			},
			error: function(err) {
				console.log(err)
			},
		});

		$.ajax({
			url: location.origin+'/api/v1/report-cms/money/<%= member.id%>/user?interval=weekly',
			type: 'GET',
			success: function(data) {
				console.log(data)
			},
			error: function(err) {
				console.log(err)
			},
		});

		$.ajax({
			url: location.origin+'/api/v1/report-cms/total-guest/<%= member.id%>/user?interval=weekly',
			type: 'GET',
			success: function(data) {
				console.log(data)
			},
			error: function(err) {
				console.log(err)
			},
		});

		// $.ajax({
		// 	url: location.origin+'/administrator/report/guest/today',
		// 	type: 'GET',
		// 	success: function(data) {
		// 		$('#transaction-now').html(data.total);
		// 	},
		// 	error: function() {
		// 		$('#transaction-now').html('An error has occurred');
		// 	},
		// });
	});
</script>
