<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>Hi ( Username ), 

<p>You area temporarily suspended. </p>

<p><%= reason %> </p>

<p>You can reactive the account immediately.</p>

<p><%= reactivateURL %></p>

<p>Thanks, </p>
<p>The ROOMMEE Team</p>

</body>
</html>