<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <!-- For development, pass document through inliner -->
    <style type="text/css">
        * {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 1.65; }

img {
  max-width: 100%;
  margin: 0 auto;
  display: block; }

body,
.body-wrap {
  width: 100% !important;
  height: 100%;
  background: #efefef;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

a {
  color: red;
  text-decoration: none; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.button {
  display: inline-block;
  color: white;
  background: red;
  border: solid red;
  border-width: 10px 20px 8px;
  font-weight: bold;
  border-radius: 4px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  line-height: 1.25; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

p, ul, ol {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px; }

.container {
  display: block !important;
  clear: both !important;
  margin: 0 auto !important;
  max-width: 580px !important; }
  .container table {
    width: 100% !important;
    border-collapse: collapse; }
  .container .masthead {
    padding: 80px 0;
    background: white;
    color: white; }
    .container .masthead h1 {
      margin: 0 auto !important;
      max-width: 90%;
      text-transform: uppercase; }
  .container .content {
    background: #f2f2f2;
    padding: 30px 35px; }
    .container .content.footer {
      background: none; }
      .container .content.footer p {
        margin-bottom: 0;
        color: white;
        text-align: center;
        font-size: 14px; }
      .container .content.footer a {
        color: white;
        text-decoration: none;
        font-weight: bold; }
    </style>

    <style type="text/css">
    .grey {
            background-color: #f2f2f2;
        }
        .white {
            background-color: #FFFFFF;
        }
        .red {
            background-color: red;
        }
        .grey-font {
            color: #f2f2f2;
        }
        .white-font {
            color: #FFFFFF;
        }
        .red-font {
            color: red;
        }
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td align="center" class="masthead white">
                        <img src="http://www.roomme.space/WEB/assets/images/logo_roomie@2x.png" width="75px">
                    </td>
                </tr>
                <tr>
                    <td class="content grey">
                        <h2>ID Verification Success</h2>
                        <p>
                        Hi, <%= user.firstName %> <%= user.lastName %>. Thank you for sending your proof of identity. We are happy to let you know that your ID verification has been approved by our team. You can proceed with your booking / become a host now. 
                        </p>
                        <p>
                        	Thanks,
                        </p>
                        <p><em>– ROOMME Team</em></p>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container red">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p class="white-font">Sent from <strong>Roomme</strong></p>
                        <p class="white-font">
                            <a class="white-font" href="http://www.roomme.space/articles">FAQ</a>&nbsp;<strong>|</strong>&nbsp;
                            <a class="white-font" href="http://www.roomme.space/terms-and-condition">Privacy Policy</a>&nbsp;<strong>|</strong>&nbsp;
                            <a class="white-font" href="http://www.roomme.space/terms-and-condition">T&C</a>&nbsp;<strong>|</strong>&nbsp;
                            <a class="white-font" href="#">Contact Us</a>
                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>