<%- contentFor('title') %>
RoomMe - Reset Password

<%- contentFor('content') %>
<div class="col-md-4 col-md-offset-4 panel-single">
    <div class="panel-sharp login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="/password/reset/<%= resetcode %>" method="POST">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control input-roomme" placeholder="New password..." name="password" type="password" autofocus>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-roomme" placeholder="Re-type password..." name="cpassword" type="password">
                    </div>
                    <button type="submit" class="btn btn-roomme btn-block btn-lg">Reset Password</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>