<%- contentFor('title') %>
RoomMe - Reset Password

<%- contentFor('content') %>
<div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body text-center">
            <p>You can now login into RoomMe app using your new password</p>
            <a href="/">Back to home</a>
        </div>
    </div>
</div>
