<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>Hi ( Username), </p>

	<p>To complete the process of changing your email address, please confirm your new address below, </p>
	<p><%= resetURL %></p>

	<p>Thanks,</p>
	<p>The ROOMME Team</p>
</body>
</html>