<%- contentFor('title') %>
Add Bank Account

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form action="/administrator/bank-accounts" method="POST">
			<div class="form-group">
				<label>Bank Name</label>
				<input type="text" name="bankname" class="form-control">
			</div>
			<div class="form-group">
				<label>Account Name</label>
				<input type="text" name="accname" class="form-control">
			</div>
			<div class="form-group">
				<label>Account Number</label>
				<input type="text" name="accnum" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary"> Save</button>
		</form>
	</div>
</div>