<%- contentFor('title') %>
Bank Account

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form class="form-inline" action="/administrator/bank-accounts" method="GET">
			<!-- <div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" value="">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
				</span>
			</div> -->
			<a href="/administrator/bank-accounts/create" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i>Add</a>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="5%">#</th>
					<th>Bank Name</th>
					<th>Account Name</th>
					<th>Account Number</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<% if (banks.length>0) { %>
					<% banks.forEach(function(data, index) { %>
					<tr>
						<td><%= (index+1) %></td>
						<td>
							<%= data.bankName %>
						</td>
						<td>
							<%= data.accountName %>
						</td>
						<td>
							<%= data.accountNum %>
						</td>
						<td>
							<a href="/administrator/bank-accounts/<%= data.id %>/edit" class="btn btn-success" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							<a href="/administrator/bank-accounts/<%= data.id %>/delete" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
						</td>
					</tr>
					<% }); %>
				<% }else {  %>
					<tr>
						<td colspan="5" class="text-center">No data</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>