<!--   Core JS Files   -->
	<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/assets/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
	<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/assets/js/material-kit.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(window).scroll(function (event) {
		var brand = $('.brand-span')
    var scroll = $(window).scrollTop();
    var navheight = $('.headquote').height();
    if (scroll > navheight+30){
    	brand.show()
    } else {
    	brand.hide()
    }
    console.log("scroll :",scroll, navheight);
    // Do something
	});
	if ($("textarea[name='ckedit']").length > 0 ) {
        CKEDITOR.replace('ckedit');}
//    image upload
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                input.nextSibling.nextSibling.src = e.target.result
                if (input.nextSibling.nextSibling.src){
                	$('.up-image').hide();
                	
                }

            };
            reader.readAsDataURL(input.files[0]);
        }
    }

	</script>