
<nav class="navbar navbar-schlr navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-icons">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="margin:0px;" href="/partner"><img style="width:30px;" src="/assets/img/logo_schlr.png"/></a>
            <span style="display:none;" class="brand-span">Schoollars</span>
        </div>

        <div class="collapse navbar-collapse" id="example-navbar-icons">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#signup" type="button">
                        Mulai
                </a>
                </li>
                <li>
                    <a href="#signup" type="button">
                        Hubungi Kami
                </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

       
                
