<%- contentFor('title') %>
RoomMe

<%- contentFor('content') %>
<div class="row text-center">
	<div class="col-lg-8">
		<h1>RoomMe Trip Payment (<%= trip.code %>)</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Amount</th>
					<th>Qty</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Rent cost</td>
					<td><%= currency(cost, 'IDR');%></td>
					<td>1</td>
					<td><%= currency(cost, 'IDR');%></td>
				</tr>
				<tr>
					<td colspan="4" align="right">
						<strong>Total</strong>
					</td>
					<td>
						<strong><%= currency(cost, 'IDR');%></strong>
					</td>
				</tr>
				<tr>
					<td colspan="4" align="right">
						<strong>Handling Fee (4%)</strong>
					</td>
					<td>
						<strong><%= currency(handling, 'IDR') %></strong>
					</td>
				</tr>
				<tr>
					<td colspan="4" align="right">
						<strong>Grand Total</strong>
					</td>
					<td>
						<strong><%= currency((cost + handling), 'IDR');%></strong>
					</td>
				</tr>
			</tbody>
		</table>
		<form NAME="order" METHOD="Post" ACTION="https://apps.myshortcart.com/payment/request-payment/" >
			<input type=hidden name="BASKET" value="rent, <%= cost %>.00,1,<%= cost %>.00; handling fee, <%= handling %>.00,1,<%= handling %>.00">
			<input type=hidden name="STOREID" value="<%= doku.storeID %>">
			<input type=hidden name="TRANSIDMERCHANT" value="<%= trip.code %>">
			<input type=hidden name="AMOUNT" value="<%= total %>.00">
			<input type=hidden name="URL" value="http://www.roomme.space/ ">
			<input type=hidden name="WORDS" value="<%= words %>">
			<input type=hidden name="CNAME" value="<%= trip.Traveller.firstName %> <%= trip.Traveller.lastName %>">
			<input type=hidden name="CEMAIL" value="<%= trip.Traveller.email %>">
			<input type=hidden name="CWPHONE" value="<%= trip.Traveller.phone %>">
			<input type=hidden name="CHPHONE" value="<%= trip.Traveller.phone %>">
			<input type=hidden name="CMPHONE" value="<%= trip.Traveller.phone %>">
			<input type=hidden name="CADDRESS" value="<%= trip.Traveller.address %>">
			<input type=hidden name="SADDRESS" value="<%= trip.Traveller.address %>">
			<input type=hidden name="BIRTHDATE" value="<%= trip.Traveller.birthDate %>">
			<button class="btn btn-danger btn-large pull-right">
				<strong><i class="fa fa-money" aria-hidden="true"></i> Pay with DoKu</strong>				
			</button>
			<!-- <a href="/payment/xendit" class="btn btn-large btn-danger pull-right">
				<strong><i class="fa fa-money" aria-hidden="true"></i> Pay with Xendit</strong>				
			</a> -->
		</form>
		<!-- <a href="/payment/xendit" class="btn btn-large btn-danger pull-right">
			<strong><i class="fa fa-money" aria-hidden="true"></i> Pay with Xendit</strong>				
		</a> -->
	</div>
</div>