<%- contentFor('title') %>
RoomMe - payment success

<%- contentFor('content') %>
<div class="row">
    <div class="col-lg-12 content-article text-center">
        <h2 class="article-title">Congratulations!</h2>
        <h4>You have successfully completed payment for your trip (<%= trip.code %>)</h4>
        <a href="">home</a>
    </div>
</div>


<script type="text/javascript">
	window.setTimeout(function(){
        window.location.href = window.location.protocol + '//' + window.location.host + '/payment/doku/close?finish';
    }, 3000);
</script>