<%- contentFor('title') %>
<div class="row">
	<div class="col-md-12 back-title text-center">
		
<h1>List Candidate</h1>
<div class="description text-center">
    <p>Ciptakan peluang bagi mereka yang mempunyai potensi.</p>
</div>

	</div>
</div>

<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="alert alert-info">
        <div class="container-fluid">
			<div class="alert-icon">
				<i class="material-icons">info_outline</i>
			</div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button>

        	<%= message %>
        </div>
    </div>
	</div>
</div>
<% } %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">                         
    	<% if (listings) { %>
			<% listings.forEach(function(data, index) { %>
				<div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
					    <div class="modal-content">
					    <% if (data.image_id && data.image_id.url) {%>
                        	<img style="width:100%;" src="<%= data.image_id.url %>"/>
                        <% } %>
					      	<div class="modal-header">
					      	  
                        	
					      	<img class="listing-img" src="/assets/img/logo_schlr.png">
					        <button type="button" class="close" data-dismiss="modal" style="color:red;font-size: 30px;" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="myModalLabel"><%= data.title %></h4>
					    </div>
					    <div class="modal-body">
					        <div class="row">
					        
					        <div class="col-md-12 roboto"><%- data.descripe %></div>
					        </div>
					    </div>
					    <div class="modal-footer">
					        <button type="button" class="btn btn-info btn-simple">Edit</button>
					    </div>
					    </div>
					  </div>
					</div>     
                    <div class="col-lg-12">
                    <div class="card card-stats">
                  
                        <div class="card-content roboto" style="text-align:left;border-bottom:1px solid #eeeeee">
                            <h3><span style="color: black;" class="category j-ul j-ul-green"><%= data.title %></span></h3>
                            <%- data.descripe %>
                            
                        </div>
                        <div class="footer-card-custom" style="float:right;border-top:0px">
                        <div class="row">
                        <div class="col-sm-6">
                        <div rel="tooltip" data-original-title="Quota" class="btn btn-xs">
                            <i class="material-icons">local_offer</i> <%= data.quota%>
                        </div>
                      
                        		</div>
                        		<div class="col-sm-6">
                        		<button style="float: right;" type="button" data-toggle="modal" data-target="#DetailModal" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Detail">
                           	<i class="material-icons">visibility</i>
                            </button>
                            <a style="float: right;" href="/partner/listings/<%=data.id%>/edit" type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit">
                           	<i class="material-icons">edit</i>
                            </a>
                            <a style="float: right;" href="/partner/listings/<%=data.id%>/delete" rel="tooltip" class="btn btn-primary btn-simple btn-xs" data-original-title="Delete">
                           	<i class="material-icons">close</i>
                            </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                                <% }); %>
				<% }else {  %>
				<tr>
					<td colspan="5" class="text-center">No data</td>
				</tr>
				<% } %>
                                
                           
             
        </div>
    </div>
<%- contentFor('addjs') %>
<script>

	$('.card-content').each(function () {
		var i = 0
		var parent = $(this);
		$(this).children().each(function(){
			if (i == 1) {
				if ($(this)[0].outerText.length > 200 ){
					$(this)[0].outerText = $(this)[0].outerText.substring(0, 200)+'....';
				}
			}
			if (i>1){
				parent[0].children[1].outerText = parent[0].children[1].outerText+'....';
				$(this).hide()
			}
			i++ ;
		})
		
	})
</script>


