<%- contentFor('title') %>
<div class="row">
	<div class="col-md-12 back-title text-center">
		
<h1>Faculty</h1>
<div class="description text-center">
    <p>Ciptakan peluang bagi mereka yang mempunyai potensi.</p>
</div>

	</div>
</div>

<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="alert alert-info">
        <div class="container-fluid">
			<div class="alert-icon">
				<i class="material-icons">info_outline</i>
			</div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button>

        	<%= message %>
        </div>
    </div>
	</div>
</div>
<% } %>
<div class="modal fade" id="addprogram" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Add Program</h4>
		</div>
		<form action="/partner/program/store" method="POST">
			<div class="modal-body">
					
				<div class="is-empty">
						<label class="control-label">Program Name</label>
						<div class="form-group"><input name="name" type="text" class="form-control"><span class="material-input"></span></div>
						<span class="material-input"></span></div>
				</div>
				
			
			<div class="modal-footer">
				<button type="submit" class="btn btn-info btn-small">Save</button>
			</div>
		</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3"> 
		<div id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="card card-stats">
			 <form class="contact-form" action="/partner/faculty/<%= data.faculty.id%>/update" method="POST">
		    <div class="profile-content">
		      	<div class="modal-header">
		      	  
            <div class="row">  
           
		      	<div class="col-md-12">
		      		<h2 id="facname"> <%= data.faculty.setupfaculty_id.name %> </h2>
			      	<div class="form-group is-empty" style="margin-top:20px;">
			      	
	            <input id="facname-input" style="font-size:2.6em;" type="hidden" value="<%= data.faculty.setupfaculty_id.name %>" name="name" type="text" placeholder="Name" class="form-control">
	            <span class="material-input"></span></div>
	            <button id="btnedit" type="button" class="close btn btn-info btn-small">Edit</button>
	            <button id="btnsave" style="display:none" type="submit" type="button" class="close btn btn-info btn-small">Save</button>
			      	<a style="display:none" id="btndiscard" href='/partner/faculty/<%= data.faculty.id%>/detail' type="button" class="close btn btn-danger btn-small">Discard</a>
		      	</div>
		      
		      </div>
		        
		    </div>
		    <div class="modal-body-profile">
		      <div class="row">
		      	<h2> Programs :</h2>
		      	<button id="btnaddfaculty" data-toggle="modal" data-target="#addprogram" type="button" class="close btn btn-info btn-small">+ Program</button>
		      </div>
		      <% if (data.faculty.programs) { %>
					<% data.faculty.programs.forEach(function(program, index) { %>
		      <div class="row">
		      	<div class="col-sm-1">
		      		<div class="btn btn-index btn-fab btn-fab-mini btn-round btn-success">
							</div>
						</div>
						<div class="modal fade" id="editprogram" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Edit Program</h4>
								</div>
								<form action="/partner/program/<%=program.id%>/update" method="POST">
									<div class="modal-body">
											
										<div class="is-empty">
												<label class="control-label">Program Name</label>
												<div class="form-group"><input name="name" type="text" class="form-control"><span class="material-input"></span></div>
												<span class="material-input"></span></div>
										</div>
										
									
									<div class="modal-footer">
										<button type="submit" class="btn btn-info btn-small">Save</button>
									</div>
								</form>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
		      		<%= program.name %> 
			      	<a href="/partner/program/<%=program.id%>/delete" rel="tooltip" class="btn btn-danger btn-simple btn-xs" data-original-title="Delete">
							<i class="material-icons">close</i>
							</a>
						</div>	
		      </div>
		      <% }) }%>
		    </div>
		    
		    </div>
		    </div>
		  
		    </div>
		     </form>
			</div>
			
		</div>
	</div>
</div>

<%- contentFor('addjs') %>
<script>
$(document).ready(function () {
   $('#btnedit').click(function(){
   	$(this).hide();
   	$('#btnsave').show();
   	$('#btndiscard').show();
   	$('#facname').hide();
   	$('#facname-input').attr('type','');

   	// CKEDITOR.instances.ckedit.setReadOnly(false)
   })

})
</script>