<%- contentFor('title') %>
Help Request

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form class="form-inline" action="/administrator/help" method="GET">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" value="<%= keyword%>">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
				</span>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="5%">#</th>
					<th>User</th>
					<th>Time</th>
					<th>Replied?</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<% if (help.length>0) { %>
					<% help.forEach(function(data, index) { %>
					<tr>
						<td><%= ((currentpage-1)*20)+(index+1) %></td>
						<td><a href="/administrator/member/<%= data.userId %>"><%= data.User.email %> (<%= data.User.firstName %> <%= data.User.lastName %>)</a></td>
						<td><%= data.createdAt %></td>
						<td>
							<% if (data.Admin === null) { %>
							<span class="label label-danger"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
							<% }else {  %>
							<span class="label label-success">By <%= data.Admin.email %></span>
							<% } %>
						</td>
						<td>
							<a href="/administrator/help/<%= data.id %>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
							<a href="/administrator/help" class="btn btn-danger"><i class="fa fa-lock" aria-hidden="true"></i></a>
						</td>
					</tr>
					<% }); %>
				<% }else {  %>
					<tr>
						<td colspan="5" class="text-center">No data</td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<% if (help.length>0) { %>
		<%- paginator(totalPage, currentpage, 'administrator/help', [{key: 'keyword', value: keyword}]) %>	
		<% } %>
	</div>
</div>