
<nav class="navbar navbar-schlr">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-icons">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="margin:0px;" href="/partner"><img style="width:30px;" src="/assets/img/logo_schlr.png"/></a>
            <span class="brand-span">Partner</span>
        </div>

        <div class="collapse navbar-collapse" id="example-navbar-icons">
            <ul class="nav navbar-nav navbar-right">
               
                <li>
                    <a href="/partner/candidate"><i class="material-icons">assignment_ind</i> Candidate </a>
                </li>
                <li>
                    <a href="/partner/listings">
                        <i class="material-icons">school</i>
                        Sholarship
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">face</i> 
                        Profile
                        <b class="caret"></b>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">                      
                        <li><a href="/partner/profile">Description</a></li>  
                        <li><a href="/partner/faculty">Faculty</a></li>                      
                    </ul>
                    
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">settings</i>
                        <b class="caret"></b>
                        <div class="ripple-container"></div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">                      
                        <li><a href="/partner/logout"><i class="material-icons">lock</i>Sign Out</a></li>                       
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>