<%- contentFor('title') %>
Error!

<%- contentFor('content') %>
<div class="row" id="home">
	<div class="col-lg-12 text-center content">
		<div class="error-section">
			<h3>Our Room is Overload</h3>
			<h5>Please try again in couple minutes</h5>
		</div>
	</div>
</div>