<%- contentFor('title') %>
<div class="row row-title">
	<div class="col-md-10 col-md-offset-1" style="text-align: right;">
		<a class="btn btn-little-round btn-info" href="/partner/listings/create" type="button">
      <i class="fa fa-edit"></i> Add Scholarship
    </a>
	</div>
</div>

<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="alert alert-info">
    <div class="container-fluid">
			<div class="alert-icon">
				<i class="material-icons">info_outline</i>
			</div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button>

        <%= message %>
    </div>
  </div>
	</div>
</div>
<% } %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">                         
		<% if (listings) { %>
		<% listings.forEach(function(data, index) { %>
			<div class="modal fade" id="showscholarship" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Sholarship Detail</h4>
			      </div>
			      <form action="" enctype="multipart/form-data">
                <div class="form-group" style="text-align:center;">
				       <!--  <div style="text-align: center;">
				        UPLOAD IMAGE SCHOLARSHIP
				        </div> -->
				        <div class='VPcrop'>

				  				<input onchange="readURL(this);" class='VPcropint' id='VPcropint' name='image' type='file' accept="image/x-png, image/gif, image/jpeg"/>
                  <% if (data.image_id && data.image_id.url) { %>
									<img class="the image" id="blah" src="<%= data.image_id.url %>"  style="width:350px"/>
									<% } else { %>
									<img id="blah" style="width:350px"/>
									<% } %>

				  			</div>
				
				      </div>

                    <div class="row">
                    
                        <div class="col-md-9">
                            <div class="form-group  is-empty">
                                <label class="control-label">Title</label>
                                <input readonly value="<%= data.title %>" name="title" type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-3">
                        	<div class="form-group  is-empty">
                                <label class="control-label">Quota</label>
                                <input readonly value="<%= data.quota %>" required name="quota" type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Start Date</label>
                                <input readonly value="<%= data.date_start %>" name="start_date" type="text" class="datepicker form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">End Date</label>
                                <input readonly value="<%= data.date_experied %>" name="end_date" type="text" class="datepicker form-control">
                            <span class="material-input"></span></div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group  is-empty">
                                <label class="control-label">City</label>
                                <input readonly type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group  is-empty">
                                <label class="control-label">Country</label>
                                <input readonly type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group  is-empty">
                                <label class="control-label">Postal Code</label>
                                <input readonly type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group control-label">
                                <label>Description</label>
                                
                              	<%- data.descripe %>
                                
                            </div>
                        </div>
                    </div>
                    <a href="/partner/listings/<%=data.id%>/edit" type="submit" class="btn btn-info pull-right">Edit</a>
                    <div class="clearfix"></div>
                </form>
			    </div>
			  </div>
			</div>

			<div class="col-md-12">
				<div class="card card-stats">
				
					<div class="card-content roboto" style="text-align:left;">
						<div class="row">
							<div class="col-sm-2" style="padding: 0px;">
								<% if (data.image_id && data.image_id.url) { %>
								<img class="list-thumb" id="blah" src="<%= data.image_id.url %>" />
								<% } else { %>
								<img class="list-thumb" src="/assets/img/avatar.jpg">
								<% } %>
								
							</div>
							<div class="col-sm-10 list-cont">
								<h3><span style="color: black;" class="category"><%= data.title %></span></h3>
								<%- data.descripe %>
								
							</div>
							
						</div>
						
					</div>
			
				</div>
				<div class="col-sm-12 opt">
						<a style="float: right;" data-toggle="modal" data-target="#showscholarship" type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Detail">
						<i class="material-icons">visibility</i>
						</a>
						<a style="float: right;" href="/partner/listings/<%=data.id%>/edit" type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Edit">
						<i class="material-icons">edit</i>
						</a>
						<a style="float: right;" href="/partner/listings/<%=data.id%>/delete" rel="tooltip" class="btn btn-primary btn-simple btn-xs" data-original-title="Delete">
						<i class="material-icons">close</i>
						</a>
				</div>
	</div>
	<% }); %>
	<% }else {  %>
	<tr>
		<td colspan="5" class="text-center">No data</td>
	</tr>
	<% } %>
                                
                           
             
	</div>
</div>
<%- contentFor('addjs') %>
<script>

	$('.list-cont').each(function () {
		var i = 0
		var parent = $(this);
		$(this).children().each(function(){
			console.log("testttt",parent[0].children[1])
			if (i == 1) {
				if ($(this)[0].outerText.length > 50 ){
					$(this)[0] =  $('p').append($(this)[0].outerText.substring(0, 50)+'....');
				}
			}
			if (i>1){
				parent[0].children[1] = $('p').append(parent[0].children[1].outerText.substring(0, 50)+'....');
				// console.log("cekekekekekekeke", )
				$(this).hide()
				
			}
			i++ ;
		})
		
	})
</script>


