<%- contentFor('title') %>
<div class="row">
	<div class="col-md-12 back-title text-center">
		
<h1>Detail Beasiswa</h1>
<div class="description text-center">
    <p>Ciptakan peluang bagi mereka yang mempunyai potensi. </p>
</div>

	</div>
</div>

<%- contentFor('content') %>
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="card">
        
            <div class="card-content">
                <form action="/partner/listings/<%= listing.id %>" method="POST" enctype="multipart/form-data">
                <div class="form-group" style="text-align:center;">
				       <!--  <div style="text-align: center;">
				        UPLOAD IMAGE SCHOLARSHIP
				        </div> -->
				        <div class='VPcrop'>

				  				<input onchange="readURL(this);" class='VPcropint' id='VPcropint' name='image' type='file' accept="image/x-png, image/gif, image/jpeg"/>
                  <% if (listing.image_id && listing.image_id.url) { %>
									<img class="the image" id="blah" src="<%= listing.image_id.url %>"  style="width:350px"/>
									<% } else { %>
									<img id="blah" style="width:350px"/>
									<% } %>

				  			</div>
				  			<i style="font-size: 54px;" class="material-icons up-image">photo</i>
				      </div>

                    <div class="row">
                    
                        <div class="col-md-9">
                            <div class="form-group  is-empty">
                                <label class="control-label">Title</label>
                                <input readonly value="<%= listing.title %>" name="title" type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-3">
                        	<div class="form-group  is-empty">
                                <label class="control-label">Quota</label>
                                <input value="<%= listing.quota %>" required name="quota" type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group  is-empty">
                                <label class="control-label">Email address</label>
                                <input type="email" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Start Date</label>
                                <input value="<%= listing.date_start %>" name="start_date" type="text" class="datepicker form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">End Date</label>
                                <input value="<%= listing.date_experied %>" name="end_date" type="text" class="datepicker form-control">
                            <span class="material-input"></span></div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group  is-empty">
                                <label class="control-label">City</label>
                                <input type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group  is-empty">
                                <label class="control-label">Country</label>
                                <input type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group  is-empty">
                                <label class="control-label">Postal Code</label>
                                <input type="text" class="form-control">
                            <span class="material-input"></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group control-label">
                                <label>Description</label>
                                
                              	<%- listing.descripe %>
                                
                            </div>
                        </div>
                    </div>
                    <a href="/partner/listings/<%=listing.id%>/edit" type="submit" class="btn btn-info pull-right">Edit</a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <!--  -->
    
</div>

<%- contentFor('addjs') %>
<script>
  $('#blah').each(function () {
    if (this.src.length > 0) {
       
        $('.up-image').hide() 
    }
   
});
</script>