<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        Content Management System
    </title>

    <% include ./includes/css %>

   

</head>

<body>
    <% include ./includes/nav %>
    <div class="row provider-menu">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <div class="submenu">
                <div class="col-sm-3">
                <a <% if (page_name === 'description') { %> class="s-active" <% } %> href="/partner/profile">Description</a>
                </div>
                <div class="col-sm-3">
                    <a <% if (page_name === 'faculty') { %> class="s-active" <% } %> href="/partner/faculty" class="submenu">Faculty</a>
                </div>
                <div class="col-sm-3">
                    <a href="/partner/about" class="submenu">About</a>
                </div>
                <div class="col-sm-3">
                    <a href="/partner/setting" class="submenu">Setting</a>
                </div>
            </div>
        </div>
    </div>
        
    <%-title%>
    <div class="wrapper">

        
        <div class="main-panel">
            <%-content%>
        </div>
        
    </div>
    <% include ./includes/footer %>
    <% include ./includes/js %>
    <% if (typeof addjs != 'undefined') { %>
        <%-addjs%>
    <% } %>

   

</body>

</html>
