<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        Content Management System
    </title>

    <% include ./includes/css %>

   

</head>

<body>
    <% include ./includes/nav %>
    <%-title%>
    <div class="wrapper">

        
        <div class="main-panel">
            <%-content%>
        </div>
        
    </div>
    <% include ./includes/footer %>
    <% include ./includes/js %>
    <% if (typeof addjs != 'undefined') { %>
        <%-addjs%>
    <% } %>

   

</body>

</html>
