<%- contentFor('title') %>
<div class="row">
	<div class="col-md-12 back-title text-center">
		
<h1>List Candidate</h1>
<div class="description text-center">
    <p>Ciptakan peluang bagi mereka yang mempunyai potensi.</p>
</div>

	</div>
</div>

<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="alert alert-info">
        <div class="container-fluid">
			<div class="alert-icon">
				<i class="material-icons">info_outline</i>
			</div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button>

        	<%= message %>
        </div>
    </div>
	</div>
</div>
<% } %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">                         
    	<% if (listings) { %>
			<% listings.forEach(function(data, index) { %>
			<div class="col-md-12">
			<div class="card card-stats">
			
				<div class="card-content roboto" style="text-align:left;">
					<div class="row">
						<div class="col-sm-2" style="padding: 0px;">
							<img class="list-thumb" src="/assets/img/avatar.jpg">
						</div>
						<div class="col-sm-8 list-cont">
							<div class="row">
								<div class="col-sm-12">
									<h3><span style="color: black;" class="category"><%= data.title %></span></h3>
								</div>
							</div>
							<!-- <div class="row">
								<div class="col-sm-4">
									<h3><span style="color: black;" class="category"><%= data.title %></span></h3>
								</div>
							</div> -->							
						</div>
						<div class="col-sm-2 applier-count-cont">
							<div class="applier-count"> <div class="applier-content"> 
								<a href="/partner/candidate/<%=data.id%>/detail" rel="tooltip" data-original-title="Detail">
								<%= data.applicant %>
								</a></div> </div>	
							<p class="applier">Applier</p>						
						</div>
						
					</div>
					
				</div>
		
			</div>
	</div>	  
                    
	<% }); %>
	<% }else {  %>
	<tr>
		<td colspan="5" class="text-center">No data</td>
	</tr>
	<% } %>
                                
                           
             
	</div>
</div>
<%- contentFor('addjs') %>
<script>

	$('.card-content').each(function () {
		var i = 0
		var parent = $(this);
		$(this).children().each(function(){
			if (i == 1) {
				if ($(this)[0].outerText.length > 200 ){
					$(this)[0].outerText = $(this)[0].outerText.substring(0, 200)+'....';
				}
			}
			if (i>1){
				parent[0].children[1].outerText = parent[0].children[1].outerText+'....';
				$(this).hide()
			}
			i++ ;
		})
		
	})
</script>


