<%- contentFor('title') %>
<div class="row">
	<div class="col-md-12 back-title text-center cover-img-cont">
		<div class="cover-img">
	  	<img style="width:100%;height:inherit;" src="/assets/img/edu6.jpeg"/>
	  </div>
	</div>
</div>

<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="alert alert-info">
        <div class="container-fluid">
			<div class="alert-icon">
				<i class="material-icons">info_outline</i>
			</div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button>

        	<%= message %>
        </div>
    </div>
	</div>
</div>
<% } %>
<div class="row profile-container">
	<div class="col-sm-1">
	</div>	
	<div class="col-sm-3">
		<img class="profile-candidate" src="/assets/img/avatar.jpg">
	</div>
	<div class="col-sm-7">
		<div class="profile-name row">
			<h2><%= candidate_detail.student.first_name %> <%= candidate_detail.student.last_name %></h2>
		</div>
		<div class="profile-desc row">
			<h4>a Wizard	</h4>
		</div>
		<div class="row">
			<div class="col-sm-3">
					<i class="material-icons">call</i> <%= candidate_detail.student.contact_number %>
			</div>
			<div class="col-sm-9">
					<i class="material-icons">send</i> <%= candidate_detail.student.user_id.email %>
			</div>
		</div>
		<div class="row">
				<div class="col-sm-2 fr pdlr5px">
					<div class="applier-count no-border"> <div class="applier-content"> 
						
						1
						
					</div> </div>	
					<p class="applier grey-bold">Applied</p>						
				</div>
				<div class="col-sm-2 fr pdlr5px">
					<div class="applier-count no-border"> <div class="applier-content"> 
						
						1
						
					</div> </div>	
					<p class="applier grey-bold">Shares</p>						
				</div>
				<div class="col-sm-2 fr pdlr5px">
					<div class="applier-count no-border"> <div class="applier-content"> 
						
						1
						
					</div> </div>	
					<p class="applier grey-bold">Bookmark</p>						
				</div>
			</div>
	</div>
	<div class="col-sm-1">
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="card"> 
			<div class="roboto p40">
				<h3>Summary</h3>
				<%- candidate_detail.summary.descripe %>
			</div>
			
		</div>
	</div>
</div>
<% if (candidate_detail.experience) { %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="card">								
			<div class="roboto p40">					
				<div class="row">
						<h3>Experience</h3> 
				</div>
				<% candidate_detail.experience.forEach(function(data, index){ %>
				<ul>
					<li>
							<div class="fz24"><%= data.position %></div>
							<p><%= data.company_id.name %></p>
							From <span class="font-blue"><%= data.date_start %></span> To <span class="font-blue"><%= data.date_end%></span>
					</li>
				</ul>				
				<% }) %>					
			</div>
		</div>
	</div>
</div>
<% } %>

<% if (candidate_detail.certification) { %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="card">								
				<div class="roboto p40">					
					<div class="row">
							<h3>Certification</h3> 
					</div>
					<% candidate_detail.certification.forEach(function(data, index){ %>
					<ul>
						<li>
								<div class="fz24"><%= data.name %></div>
								<p><%= data.authority %></p>
								From <span class="font-blue"><%= data.date_start %></span> To <span class="font-blue"><%= data.date_end%></span>
						</li>
					</ul>				
					<% }) %>					
				</div>
			</div>
		</div>
	</div>
<% } %>

<% if (candidate_detail.education) { %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="card">								
				<div class="roboto p40">					
					<div class="row">
							<h3>Education</h3> 
					</div>
					<% candidate_detail.education.forEach(function(data, index){ %>
					<ul>
						<li>
								<div class="fz24"><%= data.school_id.name %></div>
								<p><%= data.grade_id.name %></p>
								<p><%= data.class_func.name %></p>
								From <span class="font-blue"><%= data.date_start %></span> To <span class="font-blue"><%= data.date_end%></span>
						</li>
					</ul>				
					<% }) %>					
				</div>
			</div>
		</div>
	</div>
<% } %>
<% if (candidate_detail.honor_and_award.length > 0) { %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="card">								
				<div class="roboto p40">					
					<div class="row">
							<h3>Honor & Award</h3> 
					</div>
					<% candidate_detail.honor_and_award.forEach(function(data, index){ %>
					<ul>
						<li>
								<div class="fz24"><%= data.name %></div>
						</li>
					</ul>				
					<% }) %>					
				</div>
			</div>
		</div>
	</div>
<% } %>
<% if (candidate_detail.language) { %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="card">								
				<div class="roboto p40">					
					<div class="row">
							<h3>Language</h3> 
					</div>
					<% candidate_detail.language.forEach(function(data, index){ %>
						<span class="label label-schlr"><%= data.setuplanguages_id.name %></span>		
					<% }) %>					
				</div>
			</div>
		</div>
	</div>
<% } %>
<% if (candidate_detail.skill) { %>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="card">								
				<div class="roboto p40">					
					<div class="row">
							<h3>Skill</h3> 
					</div>
					<% candidate_detail.skill.forEach(function(data, index){ %>
						<span class="label label-schlr"><%= data.setupskill_id.name %></span>		
					<% }) %>					
				</div>
			</div>
		</div>
	</div>
<% } %>




<%- contentFor('addjs') %>
<script>
$(document).ready(function () {
   $('#btnedit').click(function(){
   	$(this).hide();
   	$('#btnsave').show();
   	$('#btndiscard').show();
   	$("input").attr("readonly", false);
   	$('#desc-show').hide();
   	$('#desc-edit').show();

   	// CKEDITOR.instances.ckedit.setReadOnly(false)
   })

})
</script>