<%- contentFor('title') %>
<% if (scholarship) { %>
<div class="row top-main">
	<div class="col-sm-1"></div>
	<div class="col-sm-2" style="padding: 30px;">
		<img class="profile1" src="/assets/img/avatar.jpg">
	</div>
	<div class="col-sm-7 list-cont">
		<div class="row">
		<div class="col-sm-12"><h3><span style="color: black;" class="category">schllr 2</span></h3></div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="applier-count no-border"> <div class="applier-content"> 
					<% if (scholarship.applicant > 0 ) { %>
					<%= scholarship.applicant %>
					<% } else { %>
					0
					<% } %>
				</div> </div>	
				<p class="applier grey-bold">Applied</p>						
			</div>
			<div class="col-sm-2">
				<div class="applier-count no-border"> <div class="applier-content"> 
					<% if (scholarship.applicant > 0 ) { %>
					<%= scholarship.applicant %>
					<% } else { %>
					0
					<% } %>
				</div> </div>	
				<p class="applier grey-bold">Shares</p>						
			</div>
			<div class="col-sm-2">
				<div class="applier-count no-border"> <div class="applier-content"> 
					<% if (scholarship.applicant > 0 ) { %>
					<%= scholarship.applicant %>
					<% } else { %>
					0
					<% } %>
				</div> </div>	
				<p class="applier grey-bold">Bookmark</p>						
			</div>
		</div>
	</div>							
	
	<div class="col-sm-1 applier-count-cont">
	<!-- 	<div class="applier-count"> <div class="applier-content"> 
			<a href="/partner/candidate/53/detail" rel="tooltip" data-original-title="Detail">
			1
			</a></div> </div>	
			<p class="applier">Applier</p>	 -->					
	</div>
	<div class="col-sm-1"></div>
						
				
	<!-- <div class="col-md-12 back-title text-center">
		
		<h1>Candidate</h1>
		<div class="description text-center">
		    <p>Ciptakan peluang bagi mereka yang mempunyai potensi.</p>
		</div>

	</div> -->
</div>
<% } %>
<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="alert alert-info">
        <div class="container-fluid">
			<div class="alert-icon">
				<i class="material-icons">info_outline</i>
			</div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button>

        	<%= message %>
        </div>
    </div>
	</div>
</div>
<% } if (candidates) { %>
<div class="row" style="height:50px;">
	

</div>
<div class="row tb-scholar">

	<div class="row grey-bold">
		
		<div class="col-sm-2">Name</div>
		<div class="col-sm-2">Universitas</div>
		<div class="col-sm-2">Position</div>
		<div class="col-sm-1">Ipk</div>
		<div class="col-sm-1">Gender</div>
		<div class="col-sm-1">Birth Date</div>
		<div class="col-sm-1">Contact</div>
		<div class="col-sm-1">Country</div>
		<div class="col-sm-1">Action</div>
		
		
	</div>
<% candidates.forEach(function(data, index) { %>


	<div class="row tb-scholar-card">
		
		<div class="col-sm-2"><%= data.first_name+' '+data.last_name%></div>
		<div class="col-sm-2">-</div>
		<div class="col-sm-2">-</div>
		<div class="col-sm-1">-</div>
		<div class="col-sm-1"><%= data.gender %></div>
		<div class="col-sm-1"><%= data.birth_date %></div>
		<div class="col-sm-1"><%= data.contact_number %></div>
		<div class="col-sm-1"><%= data.country_id.name%></div>
		<div class="col-sm-1">
			<a style="float: right;" href="/partner/candidate/<%=data.student_id%>/profile" type="button" rel="tooltip" title="" class="btn btn-primary btn-simple btn-xs" data-original-title="Detail">
			<i class="material-icons">visibility</i>
			</a>
		</div>
		
		
	</div>
	

<% }) %>
</div>
<% } %>

<%- contentFor('addjs') %>
<script>
// $(document).ready(function () {
//    $('#btnedit').click(function(){
//    	$(this).hide();
//    	$('#btnsave').show();
//    	$('#btndiscard').show();
//    	$("input").attr("readonly", false);
//    	$('#desc-show').hide();
//    	$('#desc-edit').show();

//    	// CKEDITOR.instances.ckedit.setReadOnly(false)
//    })

// })
</script>