<%- contentFor('title') %>
Log

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form class="form-inline" action="/administrator/log" method="GET">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" value="<%= keyword%>">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
				</span>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="5%">#</th>
					<th>Time</th>
					<th>User</th>
					<th>Activity</th>
					<th width="5%"></th>
				</tr>
			</thead>
			<tbody>
				<% if (log.length>0) { %>
				<% log.forEach(function(data, index) { %>
				<tr>
					<td><%= ((currentpage-1)*20)+(index+1) %></td>
					<td><%= data.createdAt %></td>
					<td><%= data.Admin.email %></td>
					<td><%= data.activity %></td>
					<td>
						<a href="/administrator/log" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
					</td>
				</tr>
				<% }); %>
				<% }else {  %>
				<tr>
					<td colspan="5" class="text-center">No data</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% if (log.length>0) { %>
		<%- paginator(totalPage, currentpage, 'log', [{key: 'keyword', value: keyword}]) %>	
		<% } %>
	</div>
</div>