<%- contentFor('title') %>
RoomMe Admin - Forgot Password

<%- contentFor('content') %>
<div class="col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Forgot Password</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="/forgot-password" method="POST">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                    </div>
                    <button type="submit" class="btn btn-success btn-block btn-lg">Reset Password</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>