<%- contentFor('addmeta') %>
<%- googlemeta %> 

<%- contentFor('title') %>
Schoollars

<%- contentFor('content') %>

<div class="wrapper">
        <div class="header header-filter">
            <div class="container">
                <div class="col-md-4 col-sm-offset-4">
                    <div class="card-signup ">
                    <div class="row box-s">
                        <div class="col-md-12" style="height: 150px;background: url(/assets/img/desk.jpeg);">
                            <div class="logo-center" >
                                <p class="text-divider" style="margin-top:0px" ><img style="width:40px;" src="/assets/img/logo_schlr_color.png"></p>
                                
                               <!--  <div class="text-center row" style="margin-top: 20px;">
                                <form action="/partner/landing">
                                    <button type="submit" class="btn btn-info">Partner</button>
                                </form>
                                                            
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row box-s">
                            <div class="col-md-12">
                                <form class="form" method="POST" action="/partner/login">
                                    
                                    <div class="content">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <input name="email" type="text" class="form-control" placeholder="Email...">
                                        </div>
    
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <input name="password" type="password" placeholder="Password..." class="form-control" />
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-info">Sign In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="http://www.creative-tim.com">
                                    Creative Tim
                                </a>
                            </li>
                            <li>
                                <a href="http://presentation.creative-tim.com">
                                   About Us
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com">
                                   Blog
                                </a>
                            </li>
                            <li>
                                <a href="http://www.creative-tim.com/license">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy; 2016, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com" target="_blank">Creative Tim</a>
                    </div>
                </div>
            </footer>

        </div>

    </div>