<%- contentFor('title') %>
RoomMe - Terms and Condition

<%- contentFor('content') %>
<div class="row">
    <div class="col-lg-12 content-article">
        <h2>ROOMME Terms and Policy</h2>
        <p style="text-align: justify;">In particular, hosts should understand how the laws work in their respective cities. Some cities have laws that restrict their ability to host paying guests for short periods. These laws are often part of a city's zoning or administrative codes. In many cities, hosts must register, get a permit, or obtain a license before listing a property or accepting guests. Certain types of short-term bookings may be prohibited altogether. Local governments vary greatly in how they enforce these laws. Penalties may include fines or other enforcement. Hosts should review local laws before listing a space on ROOMME.
        The web, application and services comprise an online platform through which hosts may create listings for accommodations and guests may learn about and book accommodations directly with the hosts. You understand and agree that ROOMME is not a party to any agreements entered into between hosts and guests, nor is ROOMME a real estate broker, agent or insurer. ROOMME has no control over the conduct of hosts, guests and other users of the site, application and services or any accommodations, and disclaims all liability in this regard to the maximum extent permitted by law.</p>

        <p style="text-align: justify;">Please note that, as stated above, the site, application and services are intended to be used to facilitate hosts and guests connecting and booking accommodations directly with each other. ROOMME cannot and does not control the content contained in any listings and the condition, legality or suitability of any accommodations. ROOMME is not responsible for and disclaims any and all liability related to any and all listings and accommodations. Accordingly, any bookings will be made or accepted at the member's own risk.</p>

        <p style="text-align: justify;">If you choose to create a listing on ROOMME you understand and agree that your relationship with ROOMME is limited to being a member and an independent, third-party contractor, and not an employee, agent, joint venturer or partner of ROOMME for any reason, and you act exclusively on your own behalf and for your own benefit, and not on behalf of or for the benefit of ROOMME. ROOMME does not control, and has no right to control, your listing, your offline activities associated with your listing, or any other matters related to any listing, that you provide. As a member you agree not to do anything to create a false impression that you are endorsed by, partnering with, or acting on behalf of or for the benefit of ROOMME, including by inappropriately using any ROOMME intellectual property.</p>
        
        <p style="text-align: justify;">You acknowledge and agree that, by accessing or using the site, application or services or by downloading or posting any content from or on the site, via the application or through the services, you are indicating that you have read, and that you understand and agree to be bound by these terms and receive our services.  Whether or not you have registered with the site and application. If you do not agree to these terms, then you have no right to access or use the site, application, services, or collective content.</p>


        <br>
        <h4>Modification</h4>

        <p style="text-align: justify;">ROOMME reserves the right, at its sole discretion, to modify the Site, Application or Services or to modify these Terms, including the Service Fees, at any time and without prior notice. If we modify these Terms, we will either post the modification on the Site or via the Application or otherwise provide you with notice of the modification. We will also update the "Last Updated" date at the top of these Terms. By continuing to access or use the Site, Application or Services after we have posted a modification on the Site or via the Application or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your only recourse is to cease using the Site, Application and Services.</p>
        <p style="text-align: justify;">As stated above, ROOMME makes available an online platform or marketplace with related technology for Guests and Hosts to meet online and arrange for bookings of Accommodations directly with each other. ROOMME is not an owner or operator of properties, including, but not limited to, hotel rooms, motel rooms, other lodgings or Accommodations, nor is it a provider of properties, including, but not limited to, hotel rooms, motel rooms, other lodgings or Accommodations and ROOMME does not own, sell, resell, furnish, provide, rent, re-rent, manage and/or control properties, including, but not limited to, hotel rooms, motel rooms, other lodgings or Accommodations or transportation or travel services. Unless explicitly specified otherwise in the ROOMME platform, ROOMME’s responsibilities are limited to facilitating the availability of the Site, Application and Services.</p>
        <p style="text-align: justify;">Traveler agree that a confirmed booking is merely a license granted by the Host to the Traveler to enter and use the Listing for the limited duration of the confirmed booking and in accordance with the Traveler’s agreement with the Host. Traveler further agree to leave the Accommodation no later than the checkout time that the Host specifies in the Listing or such other time as mutually agreed upon between the Host and Traveler. If a Traveler stays past the agreed upon checkout time without the Host's consent, they no longer have a license to stay in the Listing and the Host is entitled to make the Traveler leave.</p>
        <p style="text-align: justify;">You understand and agree that you are solely responsible for compliance with any and all laws, rules, regulations, and Tax obligations that may apply to your use of the Site, Application, Services and Collective Content. In connection with your use of the Site, Application, Services and Collective Content, you may not and you agree that you will not:
        violate any local, state, provincial, national, or other law or regulation, or any order of a court, including, without limitation, zoning restrictions and Tax regulations;</p>
        
        <br>
        <h4>Indemnification</h4>

        <p style="text-align: justify;">By using the app, web or services, You agree to release, defend, indemnify, and hold ROOMME and its affiliates and subsidiaries, and their officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with (a) your access to or use of the Site, Application, Services, or Collective Content or your violation of these Terms; (b) your Member Content; (c) your (i) interaction with any Member, (ii) booking of an Accommodation, or (iii) creation of a Listing; (d) the use, condition or rental of an Accommodation by you, including but not limited to any injuries, losses, or damages (compensatory, direct, incidental, consequential or otherwise) of any kind arising in connection with or as a result of a rental, booking or use of an Accommodation;</p>
        <br>
        <h4>Contact Us</h4>
        <p style="text-align: justify;">Should you have any questions or concerns regarding this Privacy Policy, 
        Please contact us at info@roomme.space</p>
    </div>
</div>


<%- contentFor('addjs') %>
