<%- contentFor('title') %>
RoomMe - <%= article.title%>

<%- contentFor('content') %>
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a id="homearticles" href="/articles">Articles</a></li>
            <li class="active"><%= article.title%></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 content-article">
        <h2 class="article-title"><%= article.title %></h2>
        <%- article.content %>
    </div>
</div>


<%- contentFor('addjs') %>
<script type="text/javascript">
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    if (getUrlParameter('inapp') == 'true') 
    {
        $('#mainnav').hide();
        $('#mainfoot').hide();
        $('#homearticles').attr("href", "/articles?inapp=true")
    }

</script>