<%- contentFor('title') %>
<div class="modal fade" id="addfaculty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Setup Faculty</h4>
      </div>
      <form action="/partner/setupfaculty" method="POST">
        <div class="modal-body">
          <div class="is-empty">
            <label class="control-label">Faculty Name</label>
            <div class="form-group"><input name="name" type="text" class="form-control"><span class="material-input"></span></div>
            <span class="material-input"></span></div>
          </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info btn-small">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>



<button id="btnaddfaculty" data-toggle="modal" data-target="#addfaculty" type="button" class="btn btn-little-round btn-info btn-menu"><i class="fa fa-edit"></i> Faculty</button>


<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="alert alert-info">
        <div class="container-fluid">
			<div class="alert-icon">
				<i class="material-icons">info_outline</i>
			</div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button>
        	<%= message %>
        </div>
    </div>
	</div>
</div>
<% } %>
<% faculty.forEach(function(fac, index){ %>
<div class="modal fade" id="editfaculty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Faculty</h4>
      </div>
      <form action="/partner/faculty/<%= fac.id%>/update" method="POST">
        <div class="modal-body">
          <div class="is-empty">
            <label class="control-label">Faculty Name</label>
            <div class="form-group"><input name="name" type="text" value="<%= fac.setupfaculty_id.name %>"class="form-control"><span class="material-input"></span></div>
            <span class="material-input"></span></div>
          </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info btn-small">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">		
    <div class="card roboto p40 no-margin-top">											
      <div class="col-md-8">
        <input style="font-size:2.4em;" readonly value="<%= fac.setupfaculty_id.name %>" name="name" type="text" placeholder="Name" class="form-control">
        <% fac.programs.forEach(function(data, index){ %>
        <ul>
          <li>
            <div class="modal fade" id="editprogram" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Program</h4>
                  </div>
                  <form action="/partner/program/<%= data.id%>/update" method="POST">
                    <div class="modal-body">
                      <div class="is-empty">
                        <label class="control-label">Program Name</label>
                        <div class="form-group"><input name="name" type="text" value="<%= data.name %>"class="form-control"><span class="material-input"></span></div>
                        <span class="material-input"></span></div>
                        <input name="faculty_id" type="hidden" value="<%= data.faculty_id.id %>"class="form-control">
                        <input name="grade_id" type="hidden" value="<%= data.grade_id.id %>"class="form-control">
                      </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-info btn-small">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal fade" id="addprogram" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Program</h4>
                  </div>
                  <form action="/partner/program/store" method="POST">
                    <div class="modal-body">
                      <div class="is-empty">
                        <label class="control-label">Program Name</label>
                        <div class="form-group"><input name="name" type="text" class="form-control"><span class="material-input"></span></div>
                        <span class="material-input"></span></div>
                        <input name="faculty_id" type="hidden" value="<%= data.faculty_id.id %>"class="form-control">
                        <input name="grade_id" type="hidden" value="<%= data.grade_id.id %>"class="form-control">
                      </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-info btn-small">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <p><%= data.name %> 
              <a href="" data-toggle="modal" data-target="#editprogram" type="button">
                <i class="fz18 material-icons">edit</i>
              </a>
              <a href="/partner/program/<%= data.id %>/delete" type="button">
                <i class="fz18 red material-icons">close</i>
              </a>
            </p>              
          </li>
        </ul>				
        <% }) %>
      </div>
      <div class="col-md-4">
        <!-- <button id="btnsave" style="display:none" type="submit" type="button" class="close btn btn-info btn-small">Save</button> -->
        <button id="btnedit" data-toggle="modal" data-target="#editfaculty" type="button" class="close btn btn-info btn-small">Edit</button>
        <button id="btnaddprogram" data-toggle="modal" data-target="#addprogram" type="button" class="close btn btn-info btn-small">+ Program</button>
        <a id="btndiscard" href='/partner/faculty/<%= fac.id %>/delete' type="button" class="close btn btn-danger btn-small">Delete</a>
      </div>
    </div>
  </div>    
</div>
<% }) %>

