<%- contentFor('title') %>
<div class="row">
	<div class="col-md-12 back-title text-center cover-img-cont">
		<div class="cover-img">
	  	<img style="width:100%;height:inherit;" src="/assets/img/edu6.jpeg"/>
	  </div>
	</div>
</div>

<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="alert alert-info">
			<div class="container-fluid">
				<div class="alert-icon">
					<i class="material-icons">info_outline</i>
				</div>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true"><i class="material-icons">clear</i></span>
				</button>
						<%= message %>
			</div>
    </div>
	</div>
</div>
<% } %>

		<div class="modal fade" id="addfaculty" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Setup Faculty</h4>
					</div>
					<form action="/partner/setupfaculty" method="POST">
						<div class="modal-body">
								
							<div class="is-empty">
									<label class="control-label">Faculty Name</label>
									<div class="form-group"><input name="name" type="text" class="form-control"><span class="material-input"></span></div>
									<span class="material-input"></span></div>
							</div>
							
						
						<div class="modal-footer">
							<button type="submit" class="btn btn-info btn-small">Save</button>
						</div>
					</form>
					</div>
				</div>
			</div>
	
	<div class="row Wrapper">
	<div class="col-md-5 col-md-offset-1"> 
		<div tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="card card-stats">
			 <form class="contact-form" action="/partner/update" method="POST">
		    <div class="profile-content">
		    		
		      <div class="modal-header">
		      	  
            <div class="row">  
	            <div class="col-md-3">   	
			      	<img class="listing-img" src="/assets/img/logo_schlr.png">
			      	</div>
			      	<div class="col-md-9">
			      	<div class="form-group is-empty" style="margin-top:20px;">
	              <input style="font-size:2.4em;" readonly value="<%= provider.name %>" name="name" type="text" placeholder="Name" class="form-control">
	            <span class="material-input"></span></div>
			      	</div>
			      	
			      </div>
			      <div class="row">
			      	<div class="col-md-12">
				      	<button id="btnsave" style="display:none" type="submit" type="button" class="close btn btn-info btn-small">Save</button>
								<button id="btnedit" type="button" class="close btn btn-info btn-small">Edit</button>
								<button id="btnaddfaculty" data-toggle="modal" data-target="#addfaculty" type="button" class="close btn btn-info btn-small">+ Faculty</button>
				        <a style="display:none" id="btndiscard" href='/partner/profile' type="button" class="close btn btn-danger btn-small">Discard</a>
				       </div>
			      </div>
		        
		    </div>
		    <div class="modal-body-profile">
		        <div class="row">
		        <div class="col-md-6">
			        <div class="is-empty">
	              <label class="control-label">Address</label>
	              <input readonly value="<%= provider.address %>" name="address" type="text" class="form-control">
	            <span class="material-input"></span></div>
		        </div>
		        <div class="col-md-6">
			        <div class="is-empty">
	              <label class="control-label">Contact No.</label>
	              <input readonly value="<%= provider.contact_number %>" name="contact_number" type="text" class="form-control">
	            <span class="material-input"></span></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-md-6">
			        <div class="is-empty">
	              <label class="control-label">Fax</label>
	              <input readonly value="<%= provider.address %>" name="fax" type="text" class="form-control">
	            <span class="material-input"></span></div>
		        </div>
		        <div class="col-md-6">
			        <div class="is-empty">
	              <label class="control-label">Email</label>
	              <input readonly value="<%= provider.contact_number %>" name="email" type="text" class="form-control">
	            <span class="material-input"></span></div>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-md-4">
			        <div class="is-empty">
	              <label class="control-label">Web</label>
	              <input readonly value="<%= provider.address %>" name="web" type="text" class="form-control">
	            <span class="material-input"></span></div>
		        </div>
		        <div class="col-md-4">
			        <div class="is-empty">
	              <label class="control-label">Country</label>
	              <input readonly value="<%= provider.contact_number %>" name="country" type="text" class="form-control">
	            <span class="material-input"></span></div>
		        </div>
		        <div class="col-md-4">
			        <div class="is-empty">
	              <label class="control-label">City</label>
	              <input readonly value="<%= provider.contact_number %>" name="city" type="text" class="form-control">
	            <span class="material-input"></span></div>
		        </div>
		      </div>
		      <div class="row">
		      	<div class="col-md-12">
		      		<div id="desc-edit" style="display:none;" class="form-group">
                  <label>Description</label>
                  <div class="form-group">
           					<textarea name="ckedit" class="form-control" rows="5"><%- provider.description %></textarea>
                  <span class="material-input"></span></div>
              </div>
              <div id="desc-show" class="form-group control-label">
                  <label>Description</label>
                  <!-- <div class="form-group"> -->
                  		<%- provider.description %>
                      
                  <!-- <span class="material-input"></span></div> -->
              </div>
		      	</div>
		      </div>
		    </div>
		    
		    </div>
		    </div>
		    </div>
		    </form>
			</div>
			<div class="col-md-5 scroll">
				<div class="row">
					<div class="card card-stats">
					
						<div class="card-content roboto" style="text-align:left;border-bottom:1px solid #eeeeee">
							<h3><span style="color: black;" class="category j-ul j-ul-green">Faculty</span></h3>
						
						</div>
					</div>
					
						<% if (faculty) { %>
						<% faculty.forEach(function(data, index) { %>
						<div style="width:100%">
						<div class="card card-stats">
								
							<div class="row pdlr15 bd-bottom">
								<div class="col-sm-1">
									<div class="btn btn-index btn-fab btn-fab-mini btn-round btn-success">
										
									</div>
								</div>
								<div class="col-sm-10">
								
									<div class="row">
										<a href="/partner/faculty/<%=data.id%>/delete" rel="tooltip" class="close btn btn-danger btn-simple btn-xs" data-original-title="Delete">
										<i class="material-icons">close</i>
										</a>
										<a style="float: right;" href="/partner/faculty/<%=data.id%>/detail" type="button" rel="tooltip" title="" class="close btn btn-primary btn-simple btn-xs" data-original-title="Detail">
                   	<i class="material-icons">visibility</i>
                    </a>
											<strong> <%= data.setupfaculty_id.name %> </strong> 
									</div>
									<% if (data.programs) {%>
									<% data.programs.forEach(function(program, data) {%>
									<div class="row">
									<div class="col-sm-1">
					      		<div class="btn btn-index btn-fab btn-fab-mini btn-round btn-success">
										</div>
									</div>
									<div class="col-sm-10">
					      		<%= program.name %>
									</div>	
									</div>
									<% }) } %>
							
								</div>
								
								
							</div>
							</div>
						</div>
						<% })} %>
					
				</div>
			</div>
		</div>
			</div>
			
	</div>
</div>

<%- contentFor('addjs') %>
<script>
$(document).ready(function () {
   $('#btnedit').click(function(){
   	$(this).hide();
   	$('#btnsave').show();
   	$('#btndiscard').show();
   	$("input").attr("readonly", false);
   	$('#desc-show').hide();
   	$('#desc-edit').show();
   })

})
</script>