<%- contentFor('title') %>


<%- contentFor('content') %>
<% if (message.length > 0 ) {%>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<div class="alert alert-info">
        <div class="container-fluid">
			<div class="alert-icon">
				<i class="material-icons">info_outline</i>
			</div>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true"><i class="material-icons">clear</i></span>
			</button>
        	<%= message %>
        </div>
    </div>
	</div>
</div>
<% } %>

<div class="row">
    <div class="col-md-10 col-md-offset-1">                         
       
          <!-- <div class="col-md-12"> -->
            <div class="card card-provider">
                <div class="row is-table-row">
                  <div class="col-sm-2">
                    <img class="profile2 pull-right" src="/assets/img/avatar.jpg">
                  </div>
                  <div class="col-sm-9">
                    <h2 class="no-margin"><%= provider.name %></h2>
                  </div>
                  <div class="col-sm-1">
                    edit
                  </div>
                </div>
              <div class="row margin-top20">
                <div class="col-sm-8 col-sm-offset-2">
                    <img src="/assets/img/avatar.jpg">
                </div>
              </div>
              <div class="row">
                <%- provider.description %>
              </div>
            </div>
          <!-- </div> -->
    </div>
</div>
<%- contentFor('addjs') %>

